﻿@model IEnumerable<Tour1.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungCmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungCmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCmt }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCmt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCmt })
        </td>
    </tr>
}

</table>
