﻿@model Tour1.Models.Tour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTour.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTour.MaLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
