﻿@model IEnumerable<Tour1.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTour.MaLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemKhoiHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTour.MaLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTour }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTour })
        </td>
    </tr>
}

</table>
