﻿@model Tour1.Models.ChiTietDatTour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDatTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongKhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongKhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TenTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatTour.MaDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatTour.MaDat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
