﻿@model IEnumerable<Tour1.Models.ChiTietDatTour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongKhach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour.TenTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatTour.MaDat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongKhach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour.TenTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatTour.MaDat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDat })
        </td>
    </tr>
}

</table>
