﻿@model Tour1.Models.DatTour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietDatTour.LoaiKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietDatTour.LoaiKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhVien.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhVien.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
