﻿@model IEnumerable<Tour1.Models.DatTour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietDatTour.LoaiKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhVien.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiTietDatTour.LoaiKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhVien.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDat })
        </td>
    </tr>
}

</table>
