﻿@model ClinicManagement.Core.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
    ViewBag.Title = "Log in";
}
<div>
    <div class="login_wrapper">
        <section id="loginForm" class="login_content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "animate form login_form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Login Form</h1>
                    
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                       
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        
                </div>
                    
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                    
                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                    
                <div >
                    <input type="submit" value="Log in" class="btn btn-default" />
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        New to site?
                        <a href="#signup" class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-hospital-o"></i> Clinic Managment System</h1>
                        <p>©2020 All Rights Reserved. CMS is Web based system to automate clinic operations</p>
                    </div>
                </div>

                    @*<p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>*@
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




